.wp-block-sim-group-accordion {
    margin-top: 20px;

    .expand-button-wrapper {
        text-align: right;
        margin-bottom: 10px;

        .sim-expand-all-button {
            text-transform: capitalize;
            background-color: transparent;
            color: #5C6A3A;
            padding-right: 0;
            font-size: 16px;

            &:hover {
                text-decoration: underline;
            }

            &:focus-visible {
                padding-right: 15px;
            }
        }
    }
}